.nav, .pagination, .carousel a { cursor: pointer; }
.input-group { font-size: 14px !important; }

.datastream_text{
  color: #F8B041;
}
.datastream_background{
  background-color: #F1F1F1;
}

.school-box{
  -webkit-box-shadow: 0 5px 0px 0px #8DCF91;
  -moz-box-shadow:    0 5px 0px 0px #8DCF91;
   box-shadow:        0 5px 0px 0px #8DCF91;
   margin-bottom: 10px;
   background-color:#E6E7E9;
}

.school-box-selected{
  -webkit-box-shadow: 0 5px 0px 0px #8DCF91;
  -moz-box-shadow:    0 5px 0px 0px #8DCF91;
   box-shadow:        0 5px 0px 0px #8DCF91;
   margin-bottom: 10px;
   background-color:#FFFFFF;
}

.datastream-box{
  -webkit-box-shadow: 0 5px 3px 0px #F8B041;
  -moz-box-shadow:    0 5px 3px 0px #F8B041;
   box-shadow:        0 5px 3px 0px #F8B041;
   margin-bottom: 10px;
   background-color:#E6E6E6;
}

.datastream-box-selected{
  -webkit-box-shadow: 0 5px 3px 0px #F8B041;
  -moz-box-shadow:    0 5px 3px 0px #F8B041;
   box-shadow:        0 5px 3px 0px #F8B041;
   margin-bottom: 10px;
   background-color:#FFFFFF;
}

.datastream-box-migo{
  -moz-box-shadow:inset 0px -6px 0px 0px #ffaa4f;
  -webkit-box-shadow:inset 0px -6px 0px 0px #ffaa4f;
  box-shadow:inset 0px -6px 0px 0px #ffaa4f;
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0px;
  display:inline-block;
  color:#777777;
  height:62px;
  line-height:62px;
  width:154px;
  text-decoration:none;
  text-align:center;
}

.modal-dialog {
  width: 800px;
}

.red-inactive {
  color: red;
  font-weight: bolder;
}

.green-active {
  color: green;
  font-weight: bolder;
}

.dropdown-menu {
  z-index: 100;
}

.navbar-inverse {
  background-color: #414143;
  border-color: #090909;
}

.panel-heading-schools{
  height: 50px;
  color: white;
  background-color: #8dce91;
  padding: 7px 15px 3px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-heading-dataTypes{
  height: 50px;
  color: white;
  background-color: #f7941e;
  padding: 7px 15px 3px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.h1-title{
  color: white !important; 
  font-family: 'Ropa Sans', sans-serif;
}
.h1-title:hover{
  color: white;
  font-family: 'Ropa Sans', sans-serif;
  text-decoration: none;
}

.h2{
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2.5em;
}

.h3{
  color:#939498;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2em;
}

.normal-text{
  color:#838384;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.3em;
}

.mid-div{
  margin-right: 170px;
  margin-left: 170px;
}

.smallBar-div{
  height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.home-btn {
  height:30px;
  width:80px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 0px #00a14b;
  -moz-box-shadow: 0px 4px 0px #00a14b;
  box-shadow: 0px 4px 0px #00a14b;
  color: #ffffff;
  font-size: 20px;
  background: #6BBF73;
  padding: 5px 20px 5px 28px;
  text-decoration: none;
}

.home-btn:hover {
  background: #58d6a2;
  text-decoration: none;
  color:#015b32;
}

.preview-btn {
  height:32px;
  width:162px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #00a14b;
  -moz-box-shadow: 0px 3px 0px #00a14b;
  box-shadow: 0px 3px 0px #f7941e;
  color: #ffffff;
  font-size: 23px;
  background: #fbb040;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

.preview-btn:hover {
  background: #FAA31F;
  text-decoration: none;
  color:#ffffff;
}

.preview-btn-disabled {
  height:32px;
  width:162px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #00a14b;
  -moz-box-shadow: 0px 3px 0px #00a14b;
  box-shadow: 0px 3px 0px #6d6e71;
  color: #CCCCCE;
  font-size: 23px;
  background: #A8A9AD;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}