.nav, .pagination, .carousel a { cursor: pointer; }
.input-group { font-size: 14px !important; }

.datastream_text{
  color: #F8B041;
}
.datastream_background{
  background-color: #F1F1F1;
}

.school-box{
   width:283px; 
  -webkit-box-shadow: 0 5px 0px 0px #8DCF91;
  -moz-box-shadow:    0 5px 0px 0px #8DCF91;
   box-shadow:        0 5px 0px 0px #8DCF91;
   margin-bottom: 20px;
   margin-right: 26px;
   background-color:#D1D1D1;
   text-align: left;
   font-size: 1.5em;
   line-height: 22px;
   color: #414042;
}

.school-box-selected{
  -webkit-box-shadow: 0 5px 0px 0px #8DCF91;
  -moz-box-shadow:    0 5px 0px 0px #8DCF91;
   box-shadow:        0 5px 0px 0px #8DCF91;
   margin-bottom: 20px;
   margin-right: 26px;
   background-color:#FFFFFF;
}

.datastream-box{
  -webkit-box-shadow: 0 5px 3px 0px #F8B041;
  -moz-box-shadow:    0 5px 3px 0px #F8B041;
   box-shadow:        0 5px 3px 0px #F8B041;
   margin-bottom: 20px;
   margin-right: 30px;
   background-color:#E6E6E6;
}

.datastream-box-selected{
  -webkit-box-shadow: 0 5px 3px 0px #F8B041;
  -moz-box-shadow:    0 5px 3px 0px #F8B041;
   box-shadow:        0 5px 3px 0px #F8B041;
   margin-bottom: 20px;
   margin-right: 30px;
   background-color:#FFFFFF;
}

.modal-dialog {
  width: 800px;
}

.red-inactive {
  color: red;
  font-weight: bolder;
}

.green-active {
  color: green;
  font-weight: bolder;
}

.dropdown-menu {
  z-index: 100;
}

.navbar-inverse {
  background-color: #414143;
  border-color: #414143;
  -webkit-box-shadow: 0px 7px 0px #58595b;
  -moz-box-shadow: 0px 7px 0px #58595b;
  box-shadow: 0px 7px 0px #58595b;
}

.panel-heading-schools{
  height: 50px;
  color: white;
  background-color: #8dce91;
  padding: 7px 15px 3px;
  border-bottom: 0px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-heading-dataTypes{
  height: 50px;
  color: white;
  background-color: #f7941e;
  padding: 7px 15px 3px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-body-schools{
  border-color: #F2F2F2;
  -webkit-box-shadow: 0px 5px 0px #8dce91;
  -moz-box-shadow: 0px 5px 0px #8dce91;
  box-shadow: 0px 5px 0px #8dce91;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}

.panel-body-dataTypes{
  border-color: #F2F2F2;
  -webkit-box-shadow: 0px 5px 0px #f7941e;
  -moz-box-shadow: 0px 5px 0px #f7941e;
  box-shadow: 0px 5px 0px #f7941e;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}

.h1-title{
  color: white !important; 
  font-family: 'Ropa Sans', sans-serif;
}
.h1-title:hover{
  color: white;
  font-family: 'Ropa Sans', sans-serif;
  text-decoration: none;
}

.h2{
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2.5em;
}

.h3{
  color:#939498;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2em;
}

.h3-single-letter{
  color:#f7941e;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2em;
  display: inline-block;
  margin-left: 13px;
}

.h3-green{
  color:#8dce91;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 2em;
  display: inline-block;
}

.normal-text{
  color:#838384;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.3em;
}

.modal-items-text{
  color:black;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.2em;
}

.modal-active-inactive{
  width:7px;
  display:inline-block;
}

.state-bar-green-text{
  vertical-align: bottom;
  color:#93C748;
  font-size: 1.3em;
}

.state-bar-text{
  vertical-align: bottom;
  color:#414042;
  font-size: 1.3em;
  padding-right: 15px;
}

.modal-header{
  padding-top: 0px;
  line-height: 16px;
}

.modal-content{
  margin-top: 85px;
}

.mid-div{
  padding-top: 65px;
  margin-right: 170px;
  margin-left: 170px;
}

.smallBar-div{
  height: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color:#FFFFFF;
  overflow: hidden;
  width: 100%;
}

.home-div{
  padding-top: 30px;
  padding-bottom: 8px;
}

.home-btn {
  height:30px;
  width:80px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 0px #00a14b;
  -moz-box-shadow: 0px 4px 0px #00a14b;
  box-shadow: 0px 4px 0px #00a14b;
  color: #ffffff;
  font-size: 20px;
  background: #6BBF73;
  padding: 5px 20px 5px 28px;
  text-decoration: none;
}

.home-btn:hover {
  background: #58d6a2;
  text-decoration: none;
  color:#015b32;
}

.preview-btn {
  height:32px;
  width:162px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #00a14b;
  -moz-box-shadow: 0px 3px 0px #00a14b;
  box-shadow: 0px 3px 0px #f7941e;
  color: #ffffff;
  font-size: 23px;
  background: #fbb040;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

.preview-btn:hover {
  background: #FAA31F;
  text-decoration: none;
  color:#ffffff;
}

.preview-btn-disabled {
  height:32px;
  width:162px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #00a14b;
  -moz-box-shadow: 0px 3px 0px #00a14b;
  box-shadow: 0px 3px 0px #6d6e71;
  color: #CCCCCE;
  font-size: 23px;
  background: #A8A9AD;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

.popup-save-btn {
  height:32px;
  width:95px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 0px #00a14b;
  -moz-box-shadow: 0px 4px 0px #00a14b;
  box-shadow: 0px 4px 0px #00a14b;
  color: #ffffff;
  font-size: 23px;
  background: #6BBF73;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

.popup-cancel-btn {
  height:32px;
  width:95px;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #00a14b;
  -moz-box-shadow: 0px 3px 0px #00a14b;
  box-shadow: 0px 3px 0px #6d6e71;
  color: #FFFFFF;
  font-size: 23px;
  background: #A8A9AD;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  margin-left: 13px;
}