<div>
  <div class="modal-header">
      <h3 style="color:#8dce91">{{selectedSchool}}</h3>
      <b>
        Weather Types
        &nbsp;&nbsp;&nbsp;
        {{active}} Active
        &nbsp;&nbsp;&nbsp;
        <span class="red-inactive">●</span>
        {{inactive}} Inactive
      </b>
  </div>
  <div class="modal-body" style="overflow:auto;overflow-x:hidden">
    <div class="row">
      <div ng-repeat='dataStream in dataStreams'>
        <div class="input-group col-md-4">
          <div class="row" ng-click="checkSchool(dataStream.label,dataStream.deviceId);setSelected(dataStream.label,dataStream.deviceId);">
            <span type="text" text-overflow class="col-md-9" style="display:inline-block">
              <span ng-switch on="dataStream.active" style="width:7px;display:inline-block">
                <span class="red-inactive" ng-switch-when="false" tooltip="{{dataStream.at}}">●</span>
                <span ng-switch-when="true" style="width:7px;display:inline-block"/>
              </span>
              {{dataStream.label}}
            </span>
            <span class="col-md-3" style="display:inline-block">
              <span ng-switch on="selectedDatastreamsBySchool[dataStream.label][dataStream.deviceId]">
                <span ng-switch-when="true"><span class='glyphicon glyphicon-check' style='color:#8dce91;font-size:17px'/></span>
                <span ng-switch-default><span class='glyphicon glyphicon-unchecked' style='color:#8dce91;font-size:17px'/></span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    Selected [{{dataStreamsSelected[selectedSchool]}}] of [{{dataStreams.length}}] Weather Types
    <button class="btn btn-default" ng-click="cancel()" style="background-color:lightgray">CANCEL</button>
    <button class="btn-success btn-primary" ng-click="ok()">SAVE</button>
  </div>
</div>