<div ng-show="loading" style="position:absolute; top: 40%; left: 50%">
  <img src="images/loading.gif" />
</div>
<div class="smallBar-div">
  <div class="container">
    <span class="pull-right">
      <span class="state-bar-green-text">Selected {{totalSelected()}}</span>
      <span class="state-bar-text"> of {{datastreams.length}} Data Types </span>
      <span ng-switch="totalSelected()">
        <button ng-switch-when="0"class="btn preview-btn-disabled">PREVIEW<img src="images/preview-btn-dis.png"></button>
        <button ng-switch-default class="btn preview-btn" ng-click="generateChart()">PREVIEW<img src="images/preview-btn-en.png"></button>
      </span>
    <span>
  </div>
</div>
<br/>
<div class="container push-content">
  <span class="h3">
    <small>Please select the Data Type(s) to create your observation kit:</small>
  </span>
  <div class="row col-md-12 byDataType-div" ng-show="!loading">
    <span ng-repeat='datastream in datastreams'>
      <button type="button" ng-click="open(datastream)" class="btn datastream-box col-md-4" ng-class="{'datastream-box-selected':devicesSelected[datastream]}">
        <span title="{{datastream.indexOf('-') < 0 ? datastream : datastream.substring(0, datastream.indexOf('-'))}}" class="school-item-text">{{datastream.indexOf('-') < 0 && datastream || (datastream.replace('-', '(') + ')')}}</span>
        <br/>
        <small style="color:#93C748" ng-if="devicesSelected[datastream]">
          Selected({{devicesSelected[datastream]}}) of 
        </small>
        <small style="color:#97989A">
          {{devicesByDatastream[datastream].length}} Locations
        </small>
      </button>
    </span>
  </div>
</div>