<div class="container">
  <div class="panel panel-primary" >
    <div class="panel-heading">
      <h3 class="panel-title">Data Types</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6" ng-repeat='weatherType in weatherTypes'>
          <div class="input-group">
            <span type="text" class="form-control" ng-click="open(weatherType)" text-overflow> {{weatherType}} </span>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default" ng-click="open()">School</button>
  </div>
</div>