<div style="background-color:#FFFFFF;overflow: hidden;">
  <div class="container">
    <span class="pull-right">
      <span style="color:#93C748">{{totalSchoolsSelected()}}</span> school(s) selected&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span ng-switch="totalSchoolsSelected()">
        <button ng-switch-when="0"class="btn btn-disabled">Preview</button>
        <button ng-switch-default class="btn btn-warning" ng-click="generateChart()">Preview</button>
      </span>
    <span>
  </div>
</div>
<br/>
<div class="container">
  <span style="color:#909091">Please select schools to create your observation kit:</span>
  <div class="row">
    <div class="col-md-12" ng-repeat='(letter,schools) in schoolsByLetter'>
        <div class="row">
        <h4><span style="color:#ED992E">&nbsp;&nbsp;{{letter}}</span></h2>

        </div>
        <span ng-repeat='school in schools'>
          <button type="button" ng-click="open(school.schoolName)" class="btn btn-default school-box col-md-3 col-md-offset-1" ng-class="{'school-box-selected':dataStreamsSelected[school.schoolName]}">{{school.schoolName }}
            <br/>
            <small style="color:#93C748" ng-if="dataStreamsSelected[school.schoolName]">Selected({{dataStreamsSelected[school.schoolName]}}) </small>
            <small style="color:#97989A">{{datastreamsBySchool[school.schoolName].length}} Weather Types </small>
          </button>
        </span>
    </div>
  </div>
</div>