<div>
  <div class="modal-header">
      <h3>{{selectedDS.label}}</h3>
  </div>
  <b>
    Schools
    &nbsp;&nbsp;&nbsp;
    {{active}} Active
    &nbsp;&nbsp;&nbsp;
    [I]
    {{inactive}} Inactive
  </b>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div ng-repeat='device in selectedDevices'>
            <div class="input-group col-md-12">
              <label>
                <span type="text" class="form-control" text-overflow>
                  <span ng-switch on="dataStream.active">
                    <span ng-switch-when="false">[I]</span>
                    <span ng-switch-when="true">&nbsp;&nbsp;&nbsp;</span>
                  </span>
                  {{device.location.name}}
                </span>
                <span class="input-group-addon">
                  <input type="checkbox" ng-model='selectedDevicesByDatasource[selectedDS.id][device.id]' ng-click="setSelected($event, device.id)">
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div ng-repeat='device in devices'>
            <div class="input-group col-md-6">
              <label>
                <span type="text" class="form-control" text-overflow>
                  <span ng-switch on="dataStream.active">
                    <span ng-switch-when="false">[I]</span>
                    <span ng-switch-when="true">&nbsp;&nbsp;&nbsp;</span>
                  </span>
                  {{device.location.name}}
                </span>
                <span class="input-group-addon">
                  <input type="checkbox" ng-model='selectedDevicesByDatasource[selectedDS.id][device.id]' ng-click="setSelected($event, device.id)">
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
  </div>
</div>