<div ng-show="loading" style="position:absolute; top: 40%; left: 50%">
  <img src="images/loading.gif" />
  <br />
  {{loadingMessage}}
</div>
<div class="smallBar-div">
  <div class="container">
    <span class="pull-left">
      <nav id="navbar-letters" class="navbar navbar-default navbar-static" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-letters-index" ng-repeat='(letter,schools) in schoolsByLetter'>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-letters-index">
            <ul class="nav navbar-nav">
              <li ng-repeat='(letter,schools) in schoolsByLetter'><a ng-click="scroll(letter)" class="nav-less-padding">{{letter}}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </span>
    <span class="pull-right">
      <span class="state-bar-green-text">Selected {{totalSchoolsSelected()}}</span>
      <span class="state-bar-text">of {{totalSchools}} Locations</span>
      <span ng-switch="totalSchoolsSelected()">
        <button ng-switch-when="0"class="btn preview-btn-disabled">PREVIEW <img src="images/preview-btn-dis.png"></button>
        <button ng-switch-default class="btn preview-btn" ng-click="generateChart()">PREVIEW <img src="images/preview-btn-en.png"></button>
      </span>
    </span>
  </div>
</div>
<br/>
<div class="container push-content">
  <span class="h3">
    <small>Please select locations to create your observation kit:</small>
  </span>
  <div class="row" ng-show="!loading" data-spy="scroll" data-target="#navbar-letters" data-offset="0" ng-repeat='(letter,schools) in schoolsByLetter'>
    <a id="{{letter}}" class="anchor"></a>
    <div class="col-md-12">
      <div class="row">
        <span class="h3-single-letter">{{letter}}</span>
      </div>
      <span ng-repeat='school in schools'>
        <button type="button" ng-click="open(school.schoolName)" class="btn school-box col-md-12" ng-class="{'school-box-selected':dataStreamsSelected[school.schoolName]}">
          <span title="{{school.schoolName }}" class="school-item-text">{{school.schoolName }}</span>
          <br/>
          <small style="color:#93C748" ng-if="dataStreamsSelected[school.schoolName]">Selected({{dataStreamsSelected[school.schoolName]}}) of </small>
          <small style="color:#97989A">{{datastreamsBySchool[school.schoolName].length}} Data Types </small>
        </button>
      </span>
    </div>
  </div>
</div>