<div>
  <div class="modal-header">
      <h3>{{selectedDS}}</h3>
  </div>
  <b>Select Schools</b>
  {{datasource}}
  <div class="modal-body">
    <div class="col-md-6" ng-repeat='device in devices'>
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" ng-model="selectedDevicesByDatasource[datasource][device.id]">
        </span>
        <span type="text" class="form-control" text-overflow> {{device.location.name}} </span>
      </div>
    </div>
    <!-- <ul>
        <li ng-repeat="device in devices">
          
            {{ device.location.name }}
        </li>
    </ul> -->
    <!-- Selected: <b>{{ datocuack }}</b> -->
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="console.log(selectedDevicesByDatasource)">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
  <!-- <button class="btn btn-default" ng-click="open()">Modal Controller</button>
  <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->
</div>