<div>
  <div class="modal-header">
      <h3 class="datastream_text">{{selectedDS}}</h3>
  </div>
  <b>
    Schools
    &nbsp;&nbsp;&nbsp;
    {{active}} Active
    &nbsp;&nbsp;&nbsp;
    <span class="red-inactive">●</span>
    {{inactive}} Inactive
  </b>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4 datastream_background">
        <b>School(s) selected: {{devicesSelected[selectedDS]}} of {{devices.length}}</b>
        <div class="row">
          <div ng-repeat='device in devices'>
            <div ng-if="selectedDevicesByDatasource[selectedDS][device.id] == true">
              <div class="input-group col-md-12">
                <label ng-click="setSelected($event, device.id,false)">
                    <span ng-switch on="device.active">
                      <span ng-switch-when="false" class="red-inactive">●</span>
                      <span ng-switch-when="true">&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    {{device.location.name}}
                  <img src='images/checked.png'  />
                  <!-- <span class="input-group-addon">
                    <input type="checkbox" ng-model='selectedDevicesByDatasource[selectedDS][device.id]' ng-click="setSelected($event, device.id)">
                  </span> -->
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div ng-repeat='device in devices'>
            <div ng-if="selectedDevicesByDatasource[selectedDS][device.id] == null || selectedDevicesByDatasource[selectedDS][device.id] == false">
              <div class="input-group col-md-6">
                <label  ng-click="setSelected($event, device.id,true)">
                    <span ng-switch on="device.active">
                      <span ng-switch-when="false" class="red-inactive">●</span>
                      <span ng-switch-when="true">&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    {{device.location.name}}
                  </span>
                  <img src='images/unchecked.png' />
                  <!-- <span class="input-group-addon">
                    <input type="checkbox" ng-model='selectedDevicesByDatasource[selectedDS][device.id]' ng-click="setSelected($event, device.id)">
                  </span> -->
                </label>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()" style="background-color:lightgray">CANCEL</button>
      <button class="btn btn-success" ng-click="ok()" >SAVE</button>
  </div>
</div>