<div>
  <div class="modal-header">
      <h3>{{selectedDS}}</h3>
  </div>
  <b>Select Schools</b>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6" ng-repeat='device in devices'>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" ng-model="selectedDevicesByDatasource[selectedDS][device.id]">
          </span>
          <span type="text" class="form-control" text-overflow> {{device.location.name}} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
  </div>
</div>