<div style="background-color:#FFFFFF;overflow: hidden; width: 100%;">
  <div class="container text-center">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>
<div style="background-color:#FFFFFF;overflow: hidden; width: 100%;">
  <div class="container" ng-show="loading">
    <img src="images/loading.gif" />
  </div>
</div>
<div class="smallBar-div" ng-show="xivelyDataInitComplete">
  <div class="container">
    <div class="row" ng-show="isPreview">
      <div class="col-md-3">
        <span class="h3" style="vertical-align: bottom">KIT PREVIEW</span>
      </div>
      <div class="col-md-3">
        <button class="btn btn-edit" ng-click="back()">
          <span style="vertical-align: middle;">EDIT&nbsp;<i class="glyphicon glyphicon-cog"/></span>

        </button>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <span class="state-bar-text">{{totalWeatherTypes()}} Weather Type(s) Selected</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-generate" ng-click="generateFinalChart()">GENERATE<img src="images/preview-btn-en.png"></button>
        </div>
      </div>
    </div>
    <div class="row" ng-show="!isPreview">
      <div class="col-md-5">
        <div class="row">
          <span class="state-bar-text col-md-4">PUBLIC LINK: </span>
          <div class="col-md-8">
            <input type="text" ng-readonly="true" value="{{baseUrl}}#/permalink/{{permalink}}" class="form-control" onclick="this.select();" style="cursor: text;" />
          </div>
          <button ng-show="false">
            <i class="glyphicon glyphicon-link"></i>
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-share pull-right" ng-click="sendEmail()">
          SHARE VIA EMAIL
          <i class="glyphicon glyphicon-envelope"></i>
        </button>
      </div>
      <div class="col-md-4">
        <button ng-click='export();' class="btn btn-export pull-right">
          EXPORT DATA CHARTS
          <i class="glyphicon glyphicon-download-alt"></i>
        </button>
        <br />
        <form id='fa' method="POST" action="./services/merge_xively_csv.php">
          <textarea id='ta' name='ta' style="display:none;"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container" ng-show="xivelyDataInitComplete">
  <div class="row">
    <div ng-repeat="datastream in chartDatastreams">
      <div class="col-xs-12 charts-title-bar">
        <span class="h3-white">{{datastream.label}} ({{datastream.unit}})</span>
      </div>
      <br />
      <div class="row" style="margin-bottom: 24px;">
        <div class="col-xs-9">
          <span class="input-group" ng-show="isPreview">
            <input type="text" class="form-control date-control-charts" ng-model="datastream.startDate" datepicker-popup="fullDate" is-open="isOpened['start'][datastream.id]" />
            <span class="input-group-btn">
              <button class="btn calendar-btn-charts" ng-click="open($event, datastream.id, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <input type="text" class="form-control date-control-charts-left" ng-model="datastream.endDate" datepicker-popup="fullDate" is-open="isOpened['end'][datastream.id]" />
            <span class="input-group-btn">
              <button class="btn calendar-btn-charts" ng-click="open($event, datastream.id, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-success" ng-click="refresh(datastream)">Refresh</button>
            </span>
          </span>
          <br />
          <div class="row">
            <div class="col-xs-1">
              <div id="vslider-{{datastream.id}}" style="height:200px;" class="pull-right" ng-show="!isPreview"></div>
            </div>
            <div class="col-xs-10">
              <div id="graph-{{datastream.id}}"></div>
              <br />
              <div id="slider-{{datastream.id}}" ng-show="!isPreview"></div>
            </div>
            <div class="col-xs-1">&nbsp;</div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="row" style="height: 234px; overflow: auto;">
            <div class="col-xs-12" id="legend-{{datastream.id}}" ng-repeat="serie in datastream.series" style="padding-top: 5px">
              <div class="row" ng-mouseover="over(datastream, serie)" ng-mouseleave="leave(datastream, serie)" ng-click="enableDisable(datastream, serie)" style="border: solid; border-radius: 6px; border-width: {{serie.borderWidth}}; border-color: {{serie.borderColor}}; margin-bottom: 5px;">
                <i class="glyphicon glyphicon-stop col-xs-2" style="color: {{serie.color}}"></i>
                <span class="col-xs-6">{{serie.name}}</span>
                <span ng-switch on="serie.disabled" class="col-xs-2">
                  <i ng-switch-when="true" class="glyphicon glyphicon-eye-close" style="color: #777777"></i>
                  <i ng-switch-default class="glyphicon glyphicon-eye-open" style="color: #ed9c28"></i>
                </span>
                <span class="dropdown col-xs-2">
                  <a class="dropdown-toggle">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                  </a>
                  <small class="dropdown-menu pull-right">
                    Status:
                    <span ng-switch on="serie.active">
                      <span ng-switch-when="true" >
                        <span class="green-active">Active</span><br />Last reported: {{serie.lastReported}}
                      </span>
                      <span ng-switch-default>
                        <span class="red-inactive-text">Inactive</span>(has not reported in {{serie.hasNotReported}} hrs)
                        <br />
                        Last reported: {{serie.lastReported}}
                      </span>
                    </span>
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
