<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" ng-controller="XivelyCtrl">    
    <div class="panel panel-primary" >
      <div class="panel-heading" ng-click='dataSourcesCollapsed = !dataSourcesCollapsed'>
        <h3 class="panel-title">Data Sources</h3>
      </div>
      <div class="panel-body" collapse="dataSourcesCollapsed">
        <div class="row">
          <div class="col-md-6" ng-repeat='deviceTag in deviceTags'>
            <!--<h5><span class="badge">{{deviceTag}}</span></h5>-->
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox">
              </span>
              <span type="text" class="form-control" text-overflow> {{deviceTag}} </span>
            </div><!-- /input-group -->
          </div>          
        </div>
      </div>
    </div>

    <div class="panel panel-primary" >
      <div class="panel-heading" ng-click='devicesCollapsed = !devicesCollapsed'>
        <h3 class="panel-title">Devices</h3>
      </div>
      <div class="panel-body" collapse="devicesCollapsed">
        <div class="row">
          <div class="col-md-6" ng-repeat='device in devices' >
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox">
              </span>
              <span type="text" class="form-control" text-overflow> {{device.title + ' - ' + device.id}} </span>
            </div><!-- /input-group -->
          </div>
          <button class="btn btn-default" ng-click="open()">Chart me!</button>
        </div>
      </div>
    </div>
  <!--
  Charts
  -->
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Charts</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div ng-repeat="url in urls">
              <img ng-src="{{url}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>