<div class="container home-div">
  <h3 class="h3">How would you like to browse sensor data?</h3>
  <div class="mid-div">
    <div class="panel panel-default panel-body-schools" heading="Locations">
      <div class="panel-heading-schools h2" style="overflow: hidden">
          By Location
          <a href="#/bySchool" class="home-btn pull-right">GO</a>
      </div>
      <div class="in" style="height: auto;">
        <div class="panel-body">
          <span class="normal-text">
            View data sorted by the location.
          </span>
        </div>
      </div>
    </div>
    <div class="panel panel-default  panel-body-dataTypes" heading="Data Types">
      <div class="panel-heading-dataTypes h2"  style="overflow: hidden">
          By Data Type
          <a href="#/byDataType" class="home-btn pull-right">GO</a>
      </div>
      <div class="in" style="height: auto;">
        <div class="panel-body">
          <span class="normal-text">
            View data sorted by the kind of information being reported.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


